saved_model/*.pth
sampled_rfam_with_embeddings.csv
sampled_rfam_no_header.csv
**/__pycache__
example_data/*
output/
.DS_Store
*.ipynb
*.csv
*.tsv
*.json
plots/
data/*
launch.json
.vscode/
benchmarking_results-*
run_benchmark.sh
run_train.sh
src/hyperparameter_tuning/db/optuna_studies.db
src/ginfinity.egg-info/PKG-INFO
src/ginfinity.egg-info/SOURCES.txt
src/ginfinity.egg-info/top_level.txt
src/ginfinity.egg-info/dependency_links.txt
tmp/generate_embeddings.log
troubleshoot/*
src/data_generation/rnafold_prueba.fa
src/data_generation/forgi_graph/test_structures.txt
src/data_generation/output_*
nextflow/.nextflow/*
nextflow/results*
nextflow/.nextflow.log*
nextflow/work
run_compute_distances.sh
results/*
work/*
.nextflow*
nextflow/results/todo.txt
nextflow/dev/optuna_plots*
nextflow/run_transcript_pipeline.sh
nextflow/report*
dev/*
example_data/*.tsv
example_data/*.json
test-package
build*
src/ginfinity.egg-info/*
out/premirnas.diagnostics*
embed_msa_out_*/
archive/
run_msa.sh
run_genereate_base_emb.sh
test_seq_weight.sh
optuna_embed_msa.db
loop_features.py
src/ginfinity/scripts/count_parameters.py
