/*
 nextflow.config - Default pipeline parameters
*/
params.input               = 'path/to/input.tsv'
params.outdir              = 'results'
params.model_path          = 'saved_model/ResNet-Secondary.pth'
params.structure_column_name   = 'secondary_structure'
params.structure_column_num    = null
params.header              = true
params.device              = 'cpu'
params.num_workers         = 4
params.subgraphs           = false
params.L                   = null
params.keep_paired_neighbors  = false
params.retries             = 0

params.embedding_col       = 'embedding_vector'
params.keep_cols           = 'exon_id'
params.num_workers_dist    = 1
params.device_dist         = 'cpu'
params.batch_size          = 1000
params.mode                = 1
params.id_column           = 'exon_id'
params.query               = null
params.top_n               = 10
params.embeddings_file     = null

// enable/disable drawing of top‐N structure pairs
params.draw_pairs          = true

docker.enabled = true

process {
  withName: DRAW_WINDOWS_PAIRS { container = 'docker.io/nicoaira/gin-draw-pairs:latest' }
}